@charset "ISO-8859-1";

.addDivision {
	color: white;
}

.createDivisionForm input {
	border: 2px solid #2B4865 !important;
	background: #CFD2CF;
}

.createDivisionForm input:focus {
	background: #CFD2CF !important;
}

.createDivisionForm label {
	font-size: 20px;
	color: #fff;
}

.submitCreateDivision {
	border-radius: 20px;
	font-size: 20px;
	color: white;
	background: #FF1E00 !important;
	font-weight: bold;
	border: none !important;
}

.submitCreateDivision:hover {
	color: white;
	background: #FF1E00 !important;
}
.seeDetailButton{
	font-weight: bold;
}

.EditIcon{
	font-size: 20px;
}
.TrashIcon{
	font-size: 20px;
}
